-f https://download.pytorch.org/whl/torch_stable.html
anyio
asgiref
beautifulsoup4
blis
bs4
catalogue
certifi
cffi==1.15.0
chardet==4.0.0
charset-normalizer
click
cryptography==36.0.1
cymem
dnspython
docopt==0.6.2
environs
es-core-news-sm
fastapi
filelock
gunicorn
h11
huggingface-hub
idna
isort==5.10.1
Jinja2
joblib
lxml
MarkupSafe
marshmallow
murmurhash
nltk
numpy
packaging
pathspec==0.9.0
pathy
pdfminer.six==20211012
Pillow
pipreqs==0.4.11
platformdirs==2.5.1
preshed
pycparser==2.21
pydantic
pymongo
pyparsing
python-dotenv
python-pptx
PyYAML
rank-bm25
regex
requests
sacremoses
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
srsly
starlette
thinc
threadpoolctl
tokenizers
tomli==2.0.1
torch==1.11.0+cpu
torchvision==0.12.0+cpu
tqdm
transformers
typer
typing_extensions
urllib3
uvicorn
wasabi
XlsxWriter
yarg==0.1.9