<html lang="en">

<head>
    <title>TFM - Alfonso Ardoiz</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar id="navB" app dense dark>
                <v-app-bar-title>TFM - Alfonso Ardoiz - Information Retrieval System</v-app-bar-title>
            </v-app-bar>
            <v-main class="grey lighten-3">

                <v-container>
                    <v-col>
                        <v-sheet color="white" rounded>
                            <v-text-field label="búsqueda" v-model="busqueda.query" outlined></v-text-field>
                            <v-row>
                                <v-btn class="cal" text color="purple" @click="call_bm25">Buscar texto - BM25</v-btn>
                                <v-btn class="cal" text color="pink" @click="call_cross">Buscar texto - Hybrid</v-btn>
                                <v-btn class="cal" text color="blue" @click="help_me"> ¿Cómo funciona?</v-btn>
                                <v-btn class="cal" text color="green" @click="random">Búsqueda aleatoria</v-btn>
                            </v-row>


                        </v-sheet>
                    </v-col>
                    <v-col class="con_margen">
                        <v-sheet min-height="70vh" rounded="lg">
                            <h1 id="grease" v-if="index > -1">Búsqueda: {{sample.query}}</h1>
                            <h1 v-if="help">Documentación del programa</h1>
                            <ul id="docu" v-if="help">
                                <li v-for="pista in pistas" v-html="pista"></li>
                            </ul>
                            <h1 v-if="resultados">Documentos más relevantes</h1>
                            <ol>
                                <li v-for="item in resultados" :key="item.Documento" v-html="item.Título_HTML"></li>
                            </ol>
                            <h2 v-if="resultados">Párrafos</h2>
                            <ul>
                                <li v-for="item in resultados" :key="item.Documento" v-html="item.Oración_HTML"></li>
                            </ul>

                        </v-sheet>
                    </v-col>
                </v-container>
            </v-main>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: function () {
                return {
                    busqueda:
                    {
                        "query": "Astronautas"
                    },
                    resultados: null,
                    index: -1,
                    queries: [{ "query": "Carrera de coches" },
                    { "query": "Los piratas de Internet" },
                    { "query": "La antigua Roma" },
                    { "query": "El nuevo Super Mario" },
                    { "query": "La semana del cine" },
                    { "query": "Reino de Castilla" },
                    { "query": "Los Simpson" },
                    { "query": "Mejoras en los aviones caza de EEUU" },
                    { "query": "perros y gatos" },
                    { "query": "montañas en Europa" },

                    ],

                    sample: null,
                    help: null,
                    pistas: ["Bienvenidos al Sistema de Recuperación de Información del TFM de Alfonso Ardoiz.",
                        "Para realizar búsquedas simplemente hay que escribir nuestra 'query' en el campo <b>'búsqueda'</b> y elegir que motor de búsqueda usar.",
                        "Actualmente en el sistema se han implementado dos motores:",
                        " - El motor BM25 se basa en un algoritmo matemático para calcular la relevancia de la búsqueda en el corpus de documentos.",
                        " - El motor Hybrid fusiona el enfoque anterior con modernas técnicas de IA para mejorar la ordenación de los documentos devueltos.",
                        "Tras pulsar el botón, los resultados de la búsqueda aparecerán en la parte inferior de la página.",
                        "En primer lugar aparece los documentos más relevantes en orden.",
                        "Más abajo, nos encontramos con los párrafos de los documentos que incluyen la información específica que estamos buscando. Estos párrafos están 'decorados' para reconocer fácilmente la información importante."
                    ]
                }
            },
            methods: {

                call_bm25: function () {

                    this.help = null
                    this.index = -1

                    axios.post("/bm25", this.busqueda)
                        .then(resp => this.resultados = resp.data.Resultados)
                        .catch(error => console.log(error))
                },
                call_cross: function () {

                    this.help = null
                    this.index = -1

                    axios.post("/cross_encoder", this.busqueda)
                        .then(resp => this.resultados = resp.data.Resultados)
                        .catch(error => console.log(error))
                },
                help_me: function () {

                    this.resultados = null
                    this.index = -1
                    this.help = 1

                },
                random: function () {
                    this.help = null
                    this.index = Math.floor(Math.random() * 10)
                    this.sample = this.queries[this.index]
                    axios.post("/bm25", this.sample)
                        .then(resp => this.resultados = resp.data.Resultados)
                        .catch(error => console.log(error))

                },

            },
        })
    </script>

    <style>
        .con_margen h1,
        h2,
        li {
            margin: 20px;
            padding: auto;
        }

        #navB {
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
            font-family: 'Courier New', monospace;
        }

        .cal {
            font-family: 'Calibri';
        }

        #grease {
            font-style: italic;
            color: silver;
        }

        #docu {
            list-style: none;
        }
    </style>
</body>

</html>